<div class="bg-image-container p-5">
	<div class="form-container bg-white m-auto p-5">
		<form action="/auth/student-signup" method="POST">
			<h3 class="text-center mb-3">Student Signup</h3>
	
			<% if(typeof errors != 'undefined') { %>
				<% errors.forEach(function(error) { %>
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<%= error.msg %>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				<% }); %>
			<% } %>
	
			<div class="mb-3">
				<label for="first-name" class="form-label">Ime</label>
				<input type="text" name="firstName" class="form-control" id="first-name" placeholder="Unesite ime.." value="<%= typeof firstName != 'undefined' ? firstName : '' %>" required>
			</div>
			
			<div class="mb-3">
				<label for="last-name" class="form-label">Prezime</label>
				<input type="text" name="lastName" class="form-control" id="last-name" placeholder="Unesite prezime.." value="<%= typeof lastName != 'undefined' ? lastName : '' %>" required>
			</div>
			
			<div class="mb-3">
				<label for="email" class="form-label">Email adresa</label>
				<input type="email" name="email" class="form-control" id="email" placeholder="Unesite email.." value="<%= typeof email != 'undefined' ? email : '' %>" required>
				<div class="form-text">Nikad necemo dijeliti vasu email adresu sa bilo kime.</div>
			</div>
	
			<div class="mb-3">
				<label for="password1" class="form-label">Lozinka/Password</label>
				<input type="password" name="password1" class="form-control" id="password1" placeholder="Unesite lozinku tj. password.." value="<%= typeof password1 != 'undefined' ? password1 : '' %>" required>
			</div>
	
			<div class="mb-3">
				<label for="password2" class="form-label">Potvrdite Lozinku/Password</label>
				<input type="password" name="password2" class="form-control" id="password2" placeholder="Unesite ponovo lozinku tj. password.." value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required>
			</div>
			<button type="submit" class="btn d-block m-auto mt-4">Prijavi se</button>
			
			
			<div class="mt-3">
				<span>Vec imate nalog?</span>
				<a href="/auth/student-login">Logujte se ovdje</a>
			</div>
			
			<div>
				<span>Vi ste Admin?</span>
				<a href="/auth/admin-login">Logujte se ovdje,admine</a>
			</div>
			
		</form>
	</div>
</div>