<main>
    <%- include('../partials/adminSidebar') %>
	
    <div id="main-wrapper">
		
        <div class="bg-white p-3">
            <h5 class="m-0 fw-bold color-theme" style="font-size: 16px; ">Aktivnosti</h5>
        </div>
		
        <div class="container mt-4 max-w-4xl">
            <table class="table table-striped rounded-lg" style="font-size: 16px; border-collapse: separate; border-spacing: 0 2px;">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kategorija</th>
                        <th scope="col">Aktivnost</th>
                        <th scope="col">Aktivnost-Vrijeme</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i<activities.length; i++) { %>
                        <tr>
                            <th scope="row"> <%= i+1 %> </th>
                            <td> 
                                <% if(activities[i].category == "izdaj") { %> 
                                    Izdata/Pozajmljena
                                <% } else if(activities[i].category == "vrati") { %> 
                                    Povrat knjige 
                                <% } else if(activities[i].category == "dodajknjigu") { %> 
                                    Dodaj Knjigu 
                                <% } else if(activities[i].category == "updateknjigu") { %> 
                                    Update-uj knjigu 
                                <% } else if(activities[i].category == "updateAdminProfile") { %> 
                                    Update-uj Administratora 
                                <% } else if(activities[i].category == "updateStudentProfile") { %> 
                                    Update-uj korisnika 
                                <% } %> 
                            </td>
                            <td>
                                <% if (activities[i].korisnik) { %>
                                    <span class="activity-item"><%= activities[i].korisnik.firstName %></span>
                                <% } %>
                                <% if(activities[i].category == "izdaj" || activities[i].category == "vrati") { %>
                                    <span>Pozajmnljena knjiga</span>
                                <% } else if(activities[i].category == "dodajknjigu" || activities[i].category == "updateknjigu") { %>
                                    <span>Dodate knjige</span>
                                <% } else if(activities[i].category == "updateAdminProfile") { %>
                                    <span>updated-ovan njen/njegov profil</span>
                                <% } else if(activities[i].category == "updateStudentProfile") { %>
                                    <span>updated-ovan njen/njegov profil</span>
                                <% } %>
                                <% if (activities[i].book) { %>
                                    <span class="activity-item"><a href="/admin/book/<%= activities[i].book.id %>"><%= activities[i].book.title %></a></span>
                                <% } %>
                                <% if(activities[i].category == "izdaj" || activities[i].category == "vrati") { %>
                                    <span>od</span>
                                    <span class="activity-item"><%= activities[i].admin.firstName %></span>
                                <% } else if(activities[i].category == "dodajknjigu" || activities[i].category == "updateknjigu") { %>
                                    <span class="activity-item"><%= activities[i].admin.firstName %></span>
                                <% } %>
                            </td>
                            <td> <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
		
    </div>
	
</main>
