<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">

    <div class="bg-white mb-5 p-3 d-sm-flex align-items-center justify-content-between">
      <h5 class="m-0 fw-bold color-theme">Knjige</h5>
      <div class="btn-group">
        <a href="/admin/books/add" class="btn">Dodaj novu knjigu</a>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#filter-modal">Filter</button>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#sort-modal">Sort</button>
      </div>

      <div class="mb-4">
        <h5 class="m-0 fw-bold color-theme">Trazi knjige:</h5>
        <form id="searchForm">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Trazi knjige...">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
    </div>


    <div class="d-flex flex-wrap justify-content-center">
      <table id="books-table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Naslov</th>
            <th>Autor(i)</th>
            <th>Kategorija</th>
            <th>ISBN</th>
            <th>Broj kopija</th>
            <th>Na stanju</th>
            <th>Opis</th>
            <th>Povez</th>
            <th>Akcije</th>
          </tr>
        </thead>
        <tbody>
          <% if(books.length == 0) { %>
          <tr>
            <td colspan="8">Nije pronadjena niti jedna knjiga.</td>
          </tr>
          <% } else { %>
          <% for(let i=0; i<books.length; i++) { %>
          <tr>
            <td><%= books[i].title %></td>
            <td><%= books[i].authors %></td>
            <td><%= books[i].category %></td>
            <td><%= books[i].ISBN %></td>
            <td><%= books[i].copiesOwned %></td>
            <td><%= books[i].stock %></td>
            <td><%= books[i].description %></td>
             <td><%= books[i].bindings %></td>
            <td>
              <a href="/admin/book/<%= books[i]._id %>" class="btn">Promjeni (Edituj)</a>
              <form class="d-none" id="hidden-form-<%= books[i]._id %>" action="/admin/book/<%= books[i]._id %>?_method=DELETE" method="POST">
                <input type="submit">
              </form>
              <button onclick="confirmDelete('<%= books[i]._id %>')" class="btn">Obrisi</button>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>


    <div class="d-flex flex-wrap justify-content-center">
      <% if(books.length == 0) { %>
      <div>Nije pronadjena niti jedna knjiga.</div>
      <% } else for(let i=0; i<books.length; i++) { %>
<div class="card border border-2 m-2" style="width: 18rem;">
  <div class="card-body d-flex flex-column justify-content-between">
    <div>
      <div class="book-image">
        <% if (books[i].image) { %>
          <img src="<%= books[i].image %>" alt="<%= books[i].title %>">
        <% } else { %>
          <img src="../assets/images/NemaKnjigek.svg.png" alt="Nema slike knjige"  width="200" height="270" class="img-fluid">
        <% } %>
      </div>
      <h5 class="card-title"><b><%= books[i].title %> </b></h5>
      <h6 class="card-subtitle mb-3 text-muted"> <%= books[i].authors %> </h6>
      <div> <%= books[i].category %> </div>
      <div> ISBN broj: <%= books[i].ISBN %> </div>
      <div> Broj kopija: <%= books[i].copiesOwned %> </div>
      <div> Na stanju: <%= books[i].stock %> </div>
      <div> <%= books[i].description %> </div>
    </div>
    <div class="btn-group mt-3 align-self-end">
      <a href="/admin/book/<%= books[i]._id %>" class="btn">Promjeni (Edituj)</a>
      <form class="d-none" id="hidden-form-<%= books[i]._id %>" action="/admin/book/<%= books[i]._id %>?_method=DELETE" method="POST">
        <input type="submit">
      </form>
      <button onclick="confirmDelete('<%= books[i]._id %>')" class="btn">Obrisi</button>
    </div>
  </div>
</div>
      <% } %>
    </div>



    <!-- Filter Modal -->
    <div class="modal fade" id="filter-modal" tabindex="-1">
      <div class="modal-dialog">

        <form class="modal-content" action="/admin/books" method="GET">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title">Filters</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body p-4">
            <div class="row mb-4">
              <label for="filter-title" class="form-label col-2">Naslov</label>
              <div class="col-10"><input type="text" name="filter[title]" class="form-control" id="filter-title"></div>
            </div>

            <div class="row mb-4">
              <label for="filter-author" class="form-label col-2">Autor</label>
              <div class="col-10"><input type="text" name="filter[authors]" class="form-control" id="filter-author"></div>
            </div>

            <div class="row mb-4">
              <label for="filter-category" class="form-label col-2">Kategorija</label>
              <div class="col-10"><input type="text" name="filter[category]" class="form-control" id="filter-category"></div>
            </div>
            

            <div class="row mb-4">
              <label for="filter-copies-owned-min" class="form-label col-2">Broj kopija</label>
              <div class="col-5"><input type="number" name="filter[minCopiesOwned]" class="form-control" id="filter-copies-owned-min" placeholder="Min copies.."></div>
              <div class="col-5"><input type="number" name="filter[maxCopiesOwned]" class="form-control" id="filter-copies-owned-max" placeholder="Max copies.."></div>
            </div>

            <div class="row mb-4">
              <label for="filter-stock-min" class="form-label col-2">Na stanju</label>
              <div class="col-5"><input type="number" name="filter[minStock]" class="form-control" id="filter-stock-min" placeholder="Min stock.."></div>
              <div class="col-5"><input type="number" name="filter[maxStock]" class="form-control" id="filter-stock-max" placeholder="Max stock.."></div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="submit" class="btn">Primjeni</button>
          </div>
        </form>

      </div>
    </div>



    <!-- Sort Modal -->
    <div class="modal fade" id="sort-modal" tabindex="-1">
      <div class="modal-dialog">

        <form class="modal-content" action="/admin/books" method="GET">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title">Sort by</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sortBy" id="title-asc" value="title">
                <label class="form-check-label" for="title-asc">Naslov (Rastuce)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sortBy" id="title-desc" value="-title">
                <label class="form-check-label" for="title-desc">Naslov (Opadajuce)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sortBy" id="copies-owned-asc" value="copiesOwned">
                <label class="form-check-label" for="copies-owned-asc">Broj kopija (Rastuce)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sortBy" id="copies-owned-desc" value="-copiesOwned">
                <label class="form-check-label" for="copies-owned-desc">Broj kopija (Opadajuce)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sortBy" id="stock-asc" value="stock">
                <label class="form-check-label" for="stock-asc">Na stanju (Rastuce)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sortBy" id="stock-desc" value="-stock">
                <label class="form-check-label" for="stock-desc">Na stanju (Opadajuce)</label>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn">Primjeni</button>
          </div>
        </form>

      </div>
    </div>


  </div>


</main>

<script src="../assets/js/jquery-3.6.0.min.js"></script>

<script src="/../assets/js/search.js"></script>
<script>
  function confirmDelete(bookId) {
    if (confirm("Are you sure you want to delete this book?")) {
      // If the user confirms, submit the form to delete the book
      document.getElementById(`hidden-form-${bookId}`).submit();
    }
  }
</script>