<main>
  <%- include('../partials/adminSidebar') %>

  <div id="main-wrapper">

    <div class="bg-white mb-5 p-3">
      <h5 class="m-0 fw-bold color-theme">Dashboard</h5>
    </div>

    <div class="d-flex gap-3 flex-wrap m-4 text-white">

      <div class="bg-primary rounded p-3" style="width: 250px;">
        <div class="fs-1">
          <%= numStudents %>
        </div>
        <div class="fs-5">Korisnici</div>
      </div>

      <div class="bg-success rounded p-3" style="width: 250px;">
        <div class="fs-1">
          <%= numAdmins %>
        </div>
        <div class="fs-5">administratori</div>
      </div>

      <div class="bg-primary rounded p-3" style="width: 250px;">
        <div class="fs-1">
          <%= numDistinctBooks %>
        </div>
        <div class="fs-5">Jedinstvene knjige</div>
      </div>

      <div class="bg-success rounded p-3" style="width: 250px;">
        <div class="fs-1">
          <%= numTotalBooks %>
        </div>
        <div class="fs-5">Ukupan broj knjiga</div>
      </div>

      <div class="bg-warning rounded p-3" style="width: 250px;">
        <div class="fs-1">
          <%= numBooksNotReturned %>
        </div>
        <div class="fs-5">Knjige koje nisu vracene</div>
      </div>

      <div class="bg-danger rounded p-3" style="width: 250px;">
        <div class="fs-1">
          <%= numBooksOverdue %>
        </div>
        <div class="fs-5">Knjige koje se trebaju vratiti</div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6 col-12 mb-4">
        <div class="bg-plavosiva p-3">
          <h5 class="text-3xl font-bold">Aktivnosti</h5>
        </div>

        <div class="table-responsive">
          <table class="table table-hover table-striped">
              <thead class="table-light">
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col" class="category-header" style="width: 90px;">Kategorija</th>

                      <th scope="col">Aktivnost</th>
                      <th scope="col">Aktivnost-Vrijeme</th>
                  </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<activities.length; i++) { %>
              <tr>
                <% if(activities[i].category=="izdaj" ) { %>
                <th scope="row">
                  <%= i+1 %>
                </th>
                <td> Izdata/Pozajmljena</td>
                <td>
                  <div style="display: flex; align-items: center;">
                      <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden; border: 1px solid #ccc; margin-right: 10px;">
                          <img src="<%= activities[i].korisnik.photo %>" alt="User Photo" style="width: 100%; height: 100%; object-fit: cover; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
                      </div>
                      <span class="activity-item"><%= activities[i].korisnik.firstName %></span>
                  </div>
                  <span>Pozajmljena knjiga</span>
                  <span class="activity-item"><%= activities[i].book.title %></span>
                  <span>od</span>
                  <div style="display: flex; align-items: center;">
                      <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden; border: 1px solid #ccc; margin-right: 10px;">
                          <img src="<%= activities[i].admin.photo %>" alt="Admin Photo" style="width: 100%; height: 100%; object-fit: cover; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
                      </div>
                      <span class="activity-item"><%= activities[i].admin.firstName %> <%= activities[i].admin.lastName %></span>
                  </div>
              </td>
                  <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium" ,
                          timeStyle: "short" }) %>
                </td>
                <% } else if(activities[i].category=="vrati" ) { %>
                <th scope="row">
                  <%= i+1 %>
                </th>
                <td> Povrat knjige </td>
                <td>
                  <div style="display: flex; align-items: center;">
                      <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden; border: 1px solid #ccc; margin-right: 10px;">
                          <img src="<%= activities[i].korisnik.photo %>" alt="User Photo" style="width: 100%; height: 100%; object-fit: cover; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
                      </div>
                      <span class="activity-item"><%= activities[i].korisnik.firstName %></span>
                  </div>
                  <span>Pozajmljena knjiga</span>
                  <span class="activity-item"><%= activities[i].book.title %></span>
                  <span>od</span>
                  <div style="display: flex; align-items: center;">
                      <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden; border: 1px solid #ccc; margin-right: 10px;">
                          <img src="<%= activities[i].admin.photo %>" alt="Admin Photo" style="width: 100%; height: 100%; object-fit: cover; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
                      </div>
                      <span class="activity-item"><%= activities[i].admin.firstName %> <%= activities[i].admin.lastName %></span>
                  </div>
              </td>
                <td>
                  <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium" ,
                            timeStyle: "short" }) %>
                </td>
                <% } else if(activities[i].category=="dodajknjigu" ) { %>
                <th scope="row">
                  <%= i+1 %>
                </th>
                <td> Dodaj Knjigu </td>
                <td>
                  <div style="display: flex; align-items: center;">
                      <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden; border: 1px solid #ccc; margin-right: 10px;">
                          <img src="<%= activities[i].admin.photo %>" alt="Admin Photo" style="width: 100%; height: 100%; object-fit: cover; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
                      </div>
                      <span class="activity-item"><%= activities[i].admin.firstName %></span>
                  </div>
                  <span>Dodate knjige</span>
                  <span class="activity-item"><%= activities[i].book.title %></span>
              </td>
              
                <td>
                  <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium" ,
                              timeStyle: "short" }) %>
                </td>
                <% } else if(activities[i].category=="updateknjigu" ) { %>
                <th scope="row">
                  <%= i+1 %>
                </th>
                <td> Update-uj knjigu </td>
                <td>
                  <div style="display: flex; align-items: center;">
                      <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden; border: 1px solid #ccc; margin-right: 10px;">
                          <img src="<%= activities[i].admin.photo %>" alt="Admin Photo" style="width: 100%; height: 100%; object-fit: cover; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
                      </div>
                      <span class="activity-item"><%= activities[i].admin.firstName %></span>
                  </div>
                  <span>Dodate knjige</span>
                  <span class="activity-item"><%= activities[i].book.title %></span>
              </td>
              
                <td>
                  <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium" ,
                                timeStyle: "short" }) %>
                </td>
                <% } else if(activities[i].category=="updateAdminProfile" ) { %>
                <th scope="row">
                  <%= i+1 %>
                </th>
                <td> Update-uj Administratora </td>
                <td>
                  <div style="display: flex; align-items: center;">
                      <div style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; border: 1px solid #ccc; margin-right: 10px;">
                          <img src="<%= activities[i].admin.photo %>" alt="Admin Photo" style="width: 100%; height: 100%; object-fit: cover; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
                      </div>
                      <span class="activity-item"><%= activities[i].admin.firstName %> <%= activities[i].admin.lastName %></span>
                  </div>
                  <span class="activity-text">updated-ovan njen/njegov profil</span>
              </td>
              
                <td>
                  <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium" ,
                                  timeStyle: "short" }) %>
                </td>
                <% } else if(activities[i].category=="updateStudentProfile" ) { %>
                <th scope="row">
                  <%= i+1 %>
                </th>
                <td> Update-uj korisnika </td>
                <td>
                  <% if (activities[i].korisnik) { %>
                  <span class="activity-item">
                    <%= activities[i].korisnik.firstName %>
                  </span>
                  <% } %>
                  <span>updated-ovan njen/njegov profil</span>
                </td>
                <td>
                  <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium" ,
                                    timeStyle: "short" }) %>
                </td>
                <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>


      <div class="col-sm-6 col-12 mb-4">
        <div class="row">
          <div class="col-sm-6 col-12 mb-4" style="width: 95%;">
            <div class="bg-orange p-3">
     <h5 class="text-3xl font-bold">Rezervacije</h5>
            </div>

            <div class="col-sm-6 col-12 mb-4 table-limit-3-rows" style="width: 100%;">
              <table class="table table-hover table-nowrap">
                <thead class="table-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Korisnik</th>
                    <th scope="col">Knjiga</th>
                    <th scope="col">Datum rezervacije</th>
                    <th scope="col">Datum isteka rezervacije</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0; i<reservations.length && i<3; i++) { %>
                
                  <tr>
                    <th scope="row">
                      <%= i+1 %>
                    </th>
                    <td>
                      <%= reservations[i].user.firstName %>
                      <%= reservations[i].user.lastName %>
                    </td>
                    <td>
                      <%= reservations[i].book.title %>
                    </td>
                    <td>
                      <%= reservations[i].reservationDate.toLocaleString("en-IN", { dateStyle: "medium" ,
                            timeStyle: "short" }) %>
                    </td>
                    <td>
                      <%= reservations[i].reservationExpiration.toLocaleString("en-IN", { dateStyle: "medium" ,
                            timeStyle: "short" }) %>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>



            </div>
          </div>
        </div>



        <div class="row">

          <div class="col-12" style="width: 95%;">
        
            <div class="bg-white p-3">
              <h5 class="m-0 fw-bold color-theme">Statistike</h5>
            </div>
            <div class="col col-12 m-auto my-4">
              <canvas id="barChart"></canvas>
            </div>
        
            <!-- najpopularnija knjiga -->
            <div class="col col-12 m-auto my-4">
              <div class="card shadow rounded">
                <div class="card-body" style="background-color: lightgreen;">
                  <h4 class="card-title fw-bold">Najpopularnija knjiga</h4>
                  <p class="card-text fw-bold"><%= mostPopularBookTitle %></p>
                  <p class="card-text">
                    <span class="badge rounded-circle bg-danger text-white">
                      <%= mostPopularBookCount %>
                    </span>
                    puta izdata/kasnjenje
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        

      </div>
    </div>
  </div>

  </div>

  <script type="text/javascript" src="../assets/js/chart.js"></script>
  <script nonce="<%= nonce %>">
    const numDistinctBooks = <%= numDistinctBooks %>;
    const numTotalBooks = <%= numTotalBooks %>;
    const numBooksNotReturned = <%= numBooksNotReturned %>;
    const numBooksOverdue = <%= numBooksOverdue %>;

    new Chart(document.getElementById("barChart"), {
      type: 'bar', // Change 'bar' to 'horizontalBar'
      data: {
        labels: ['Jedinstvene knjige', 'Ukupno knjiga', 'Nisu vracene', 'Knjige kasne'],
        datasets: [{
          data: [numDistinctBooks, numTotalBooks, numBooksNotReturned, numBooksOverdue],
          backgroundColor: ['#36A2EB', '#FF6384', '#FFCE56', '#FF5733'],
        }]
      },
      options: {
        indexAxis: 'y', // Specify 'y' to create a horizontal bar chart
        scales: {
          x: {
            beginAtZero: true,
            ticks: {
              stepSize: 10,
            }
          }
        }
      }
    });
  </script>

</main>