<main>
	<%- include('../partials/adminSidebar') %>
	
 <div id="main-wrapper">
  <div class="bg-white p-3">
    <h5 class="m-0 fw-bold color-theme">User Activity</h5>
  </div>

  <div class="col col-sm-10 col-12 m-auto my-4">
    <table class="table table-striped table-hover m-0 bg-white">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Login Time</th>
          <th scope="col">Logout Time</th>
        </tr>
      </thead>
      <tbody>
        <% userActivity.forEach((activity, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= activity.userId.firstName %> <%= activity.userId.lastName %></td>

            <td><%= activity.loginTime.toLocaleString() %></td>
            <td><%= activity.logoutTime ? activity.logoutTime.toLocaleString() : 'Nije se izlogovao jos...' %></td>
          </tr>
        <% }) %>
      </tbody>
      
    </table>
	<div class="pagination">
    <% if (userActivity.hasPrevPage) { %>
      <a href="?page=<%= userActivity.prevPage %>">Previous</a>
    <% } %>
    <% if (userActivity.hasNextPage) { %>
      <a href="?page=<%= userActivity.nextPage %>">Next</a>
    <% } %>
  </div>
</div>
  </div>
</div>
