<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(0, 0, 0);
      color: #fff; /* Boja teksta bijela */
     /* background-image: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80'); */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

    }

    .topnav {
      overflow: hidden;
      background-color: #141414; /*boja pozadine*/
      padding: 16px; /*Dodan padding za razmak */
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      margin-right: 16px; /* Dodata margina-desno za razmak */
    }

    .topnav a.active {
      background-color: #e50914; /* Boja pozadine */
      color: white;
    }

    .container {
      display: flex;
      align-items: center; /* centriraj vertikalno */
      justify-content: space-between; /* Added justify-content for horizontal spacing */
      padding: 16px; /*Dodan padding za razmak */
    }

    .box {
      flex-grow: 1;
      padding: 10px;
      border: 0px solid #ccc;
    }

    .box:nth-child(2) {
      background-color: #141414; /* Boja pozadine*/
    }

    .search-box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .search-field {
      width: 150px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #141414; /* Boja pozadine*/
      color: #fff; /* Boja teksta bijela */
    }

    .search-button {
      padding: 8px 20px; /*  padding za fit teksta */
      background-color: #e50914; /* boja*/
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 5px;
      font-size: 14px;
    }

  

    .card-container {
      display: flex;
      flex-wrap: nowrap; /* Ažurirano na Nowrap kako bi se spriječilo omatanje */
      overflow-x: auto; /* Dodan overflow-x za omogućavanje horizontalnog pomicanja */
      padding: 16px; /*Dodan padding za razmak */
    }

    .card {
      flex: 0 0 auto; /* Ažurirano kako bi se spriječilo povećanje širine kartice */
      margin-right: 16px; /* Dodata margina-desno za razmak između kartica */
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #1c1c1c; /* Boja pozadine*/
      color: #fff; /* Boja teksta bijela */
    }

    .card-title {
      font-weight: bold;
      margin-top: 0;
    }

    .card-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
    }

    .card-button {
      padding: 8px 12px;
      background-color: #e50914; /* boja */
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .google-login-button {
      background-color: #DB4437;
    }

    .action-button {
    display: inline-block;
    width: 100px; 
    height: 40px; 
    margin: 5px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }


  .view-button {
    background-color: #007bff;
  }

  .edit-button {
    background-color: #28a745;
  }

  .buy-button {
    background-color: #dc3545;
  }
  </style>
</head>
<body>
  <%- include('navigation') %>
  

<div class="container">
  <div class="box">
    <h1 style="font-size: 32px;">Bookstore</h1> <!-- Increased font size for the title -->
  </div>
  
  <div class="search-box">
    <form action="/" method="GET">
      <input type="text" name="search" placeholder="Search by Title, ID, or Page Count" class="search-field">
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>
</div>
<div class="w3-container" style="display: flex; width: 99%;">

  <div class="w3-card-4" style="flex-grow: 1;">
    <div class="w3-container w3-blue" style="text-align: center; height: 130px; padding: 5px;">
      <h1>Total Authors:</h1>
      <p style="font-weight: bold; color: red; font-size: 40px;"><%= authors.length %></p>
    </div>
  </div>

  <div class="w3-card-4" style="flex-grow: 1;">
    <div class="w3-container w3-blue" style="text-align: center; height: 130px; padding: 5px;">
      <h1>Total Books:</h1>
      <p style="font-weight: bold; color: red; font-size: 40px;"><%= books.length %></p>
    </div>
  </div>

</div>








<!-- <p>Prikaz kroz datatables</p>
<table id="booksTable">

  <thead>
    <tr>
      <th>Title</th>
      <th>ID</th>
      <th>Page Count</th>
      <th>Reservation Count</th>
      <th>Author</th>
     
    </tr>
  </thead>
  <tbody>
    <% books.forEach(book => { %>
      <tr>
        <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
        <td><%= book.id %></td>
        <td><%= book.page_count %></td>
        <td><%= book.reserved_count %></td>
        <td>
          <% if (book.authorNameSurname) { %>
            <% book.authorNameSurname.forEach(author => { %>
              <a href="/authors/<%= author.id %>/books" class="author-link"><%= author.NameSurname %></a>
            <% }) %>
          <% } else { %>
            Unknown author
          <% } %>
        </td>
       
      </tr>
    <% }) %>
  </tbody>
</table> -->
<h2 style="padding: 16px;">Books</h2> <!--Dodan padding za razmak -->
<!-- Prikaz kroz card kao Netflix -->
<div class="card-container">
  <% books.forEach(book => { %>
    <div class="card">
      <h3 class="card-title"><%= book.title %></h3>
      <p>ID: <%= book.id %></p>
      <p>Page Count: <%= book.page_count %></p>
      <p>Reservation Count: <%= book.reserved_count %></p>
      <p>
        <% if (book.authorNameSurname) { %>
          <% book.authorNameSurname.forEach(author => { %>
            <a href="/authors/<%= author.id %>/books" class="author-link"><%= author.NameSurname %></a>
          <% }) %>
        <% } else { %>
          Unknown author
        <% } %>
      </p>
      <div class="card-buttons">
        <a href="/books/<%= book.id %>" class="action-button view-button">View</a>
        <% if (loggedIn) { %>
          <!-- Show the "Edit" button only when logged in -->
          <a href="/books/<%= book.id %>/edit" class="action-button edit-button">Edit</a>
        <% } %>
        <form action="/add-to-cart/<%= book.id %>" method="POST" class="buy-form">
          <button type="submit" class="action-button buy-button">Buy Book</button>
        </form>
      </div>
    </div>
  <% }) %>
</div>
<%- include('footer') %>
</body>
</html>
