<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <link rel="stylesheet" href="../assets/css/main.css">

  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgba(20, 20, 20, 0.2);
      color: #fff; /* Boja teksta bijela */
	        font-family: Arial, Helvetica, sans-serif;
      background-image: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

    }

    .topnav {
      overflow: hidden;
      background-color: #141414; /*boja pozadine*/
      padding: 16px; /*Dodan padding za razmak */
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      margin-right: 16px; /* Dodata margina-desno za razmak */
    }

    .topnav a.active {
      background-color: #e50914; /* Boja pozadine */
      color: white;
    }

    .container {
      display: flex;
      align-items: center; /* centriraj vertikalno */
      justify-content: space-between; /* Added justify-content for horizontal spacing */
      padding: 16px; /*Dodan padding za razmak */
    }

    .box {
      flex-grow: 1;
      padding: 10px;
      border: 0px solid #ccc;
    }

    .box:nth-child(2) {
      background-color: #141414; /* Boja pozadine*/
    }

    .search-box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .search-field {
      width: 150px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #141414; /* Boja pozadine*/
      color: #fff; /* Boja teksta bijela */
    }

    .search-button {
      padding: 8px 20px; /*  padding za fit teksta */
      background-color: #e50914; /* boja*/
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 5px;
      font-size: 14px;
    }

    /* New Styles for Card Layout */

    .card-container {
      display: flex;
      flex-wrap: nowrap; /* Ažurirano na Nowrap kako bi se spriječilo omatanje */
      overflow-x: auto; /* Dodan overflow-x za omogućavanje horizontalnog pomicanja */
      padding: 16px; /*Dodan padding za razmak */
    }

    .card {
      flex: 0 0 auto; /* Ažurirano kako bi se spriječilo povećanje širine kartice */
      margin-right: 16px; /* Dodata margina-desno za razmak između kartica */
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #1c1c1c; /* Boja pozadine*/
      color: #fff; /* Boja teksta bijela */
    }

    .card-title {
      font-weight: bold;
      margin-top: 0;
    }

    .card-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
    }

    .card-button {
      padding: 8px 12px;
      background-color: #e50914; /* boja */
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .google-login-button {
      background-color: #DB4437;
    }
  </style>
</head>
<body>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/authors">View all authors</a>
  <a href="/books/new">Add New Book</a>
  <a href="/authors/new">Add New Author</a>
  <a href="/users/new">Create User</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="/login/google" class="google-login-button">Sign in with Google</a>
  <a href="/login">Login</a>
</div>

<div class="container">
  <div class="box">
    <h1 style="font-size: 32px;">Bookstore</h1> <!-- Increased font size for the title -->
  </div>
  <div class="box"></div>
  <div class="search-box">
    <form action="/" method="GET">
      <input type="text" name="search" placeholder="Search by Title, ID, or Page Count" class="search-field">
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>
</div>

<h2 style="padding: 16px;">Books</h2> <!--Dodan padding za razmak -->
<div class="card-container">
  <% books.forEach(book => { %>
    <div class="card">
      <h3 class="card-title"><%= book.title %></h3>
      <p>ID: <%= book.id %></p>
      <p>Page Count: <%= book.page_count %></p>
      <p>Reservation Count: <%= book.reserved_count %></p>
      <p>
        <% if (book.authorNameSurname) { %>
          <% book.authorNameSurname.forEach(author => { %>
            <a href="/authors/<%= author.id %>/books" class="author-link"><%= author.NameSurname %></a>
          <% }) %>
        <% } else { %>
          Unknown author
        <% } %>
      </p>
      <div class="card-buttons">
        <a href="/books/<%= book.id %>" class="card-button">View</a>
        <a href="/books/<%= book.id %>/edit" class="card-button">Edit</a>
      </div>
    </div>
  <% }) %>
</div>
</body>
</html>
