<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <link rel="stylesheet" href="../assets/css/main.css">
  
  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }


    .container {
      display: flex;
    }

    .box {
      flex-grow: 1;
      padding: 10px;
      border: 0px solid #ccc;
    }

    .box:nth-child(2) {
      background-color: ##FFFFFF;
    }

    .search-box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .search-field {
      width: 150px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .search-button {
      padding: 8px 20px; /* Adjusted padding to fit the text */
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 5px;
      font-size: 14px;
    }

    /* New Styles for Card Layout */

    .card-container {
      display: flex;
      flex-wrap: nowrap; /* Updated to nowrap to prevent wrapping */
      overflow-x: auto; /* Added overflow-x to enable horizontal scrolling */
    }

    .card {
      flex: 0 0 auto; /* Updated to prevent card width from growing */
      margin-right: 16px; /* Added margin-right for spacing between cards */
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f5f5f5; /* Added background color for the cards */
    }

    .card-title {
      font-weight: bold;
      margin-top: 0;
    }

    .card-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
    }

    .card-button {
      padding: 8px 12px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
	
	.google-login-button {
      background-color: #DB4437;
    }
  </style>
</head>
<body>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/books/new">Add New Book</a>
  <a href="/authors/new">Add New Author</a>
  <a href="/users/new">Create User</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="/login/google" class="google-login-button">Sign in with Google</a>
</div>

<div class="container">
  <div class="box">
    <h1>Bookstore</h1>
  </div>
  <div class="box"></div>
  <div class="search-box">
    <form action="/" method="GET">
      <input type="text" name="search" placeholder="Search by Title, ID, or Page Count" class="search-field">
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>
</div>
  
<h2>Books</h2>
<div class="card-container">
  <% books.forEach(book => { %>
    <div class="card">
      <h3 class="card-title"><%= book.title %></h3>
      <p>ID: <%= book.id %></p>
      <p>Page Count: <%= book.page_count %></p>
      <p>Reservation Count: <%= book.reserved_count %></p>
      <p>
        <% if (book.authorNameSurname) { %>
          <a href="/authors/<%= book.authorId %>/books" class="author-link"><%= book.authorNameSurname %></a>
        <% } else { %>
          Unknown author
        <% } %>
      </p>
      <div class="card-buttons">
        <a href="/books/<%= book.id %>" class="card-button">View</a>
        <a href="/books/<%= book.id %>/edit" class="card-button">Edit</a>
      </div>
    </div>
  <% }) %>
</div>
</body>
</html>
