<div id="welcome-container" class="bg-image-container">
    <div class="text-center" style="color: black;">Dobrodosli u jednostavnu online biblioteku</div>
    <div id="slideshow-container">
      <% randomBooks.forEach(book => { %>
        <img src="<%= book.image %>" class="slide" alt="<%= book.title %>">
      <% }) %>
    </div>
    <div class="container mt-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% randomBooks.forEach(book => { %>
          <div class="col">
            <div class="card bg-transparent border-0">
              <div class="row g-0">
                <div class="col-md-4">
                  <div class="card-img-container">
                    <% if (book.image) { %>
                      <img src="<%= book.image %>" class="card-img" alt="<%= book.title %>">
                    <% } else { %>
                      <img src="../assets/images/NemaKnjigek.svg.png" class="card-img" alt="Nema slike knjige">
                    <% } %>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; color: black;"><%= book.title %></h5>
                    <h6 class="card-subtitle mb-3 text-muted" style="font-size: 0.875rem;"><%= book.authors %></h6>
                    <p class="card-text" style="font-size: 0.75rem;"><%= book.description %></p>
                  <!--  <button class="btn btn-primary" onclick="alert('User must be logged in')" style="margin-top: auto;">Detaljnije</button>  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../assets/js/bootstrap.bundle.min.js"></script>
  <script>
    const slides = document.querySelectorAll('.slide');
    let currentSlide = 0;

    function showSlide() {
      slides[currentSlide].classList.remove('active');
      currentSlide = (currentSlide + 1) % slides.length;
      slides[currentSlide].classList.add('active');
    }

    setInterval(showSlide, 3000);
  </script>